# Per backup global configuration file
#
# This file holds per-backup configuration options and should reside in
# etc/vbackup/rc.d/ or etc/vbackup/rc.XXXX.d/
#
# $Id: sample.tar 692 2006-11-19 15:50:11Z v13 $
#

# A directory where backups will be stored (required)
# All other DESTDIR directives are relative to this one
# Try something like this: /path/to/dir/%D1%-%L%
# %D1%-%L% will become DATE-LEVEL (e.g. 120305-0)
DESTDIR0=""

# Compress level: 0-9 (9 - max)
COMPRESS_LEVEL=9

# Size of one archive volume
VOLUME_SIZE=10g

# Backup type = INC (Incremental) or DIF (Differencial). Default: DIF
# If backup level = 0 forcing FULL backup
BACKUP_TYPE=inc
